@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container1 {
  display: flex;
  background-color: #d92020;
  height: 500px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.whoWeAre {
  position: absolute;
  right: 100px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 600px;
  height: 350px;
  margin: 10px;
  font-size: small;
  border-radius: 10px;
}

.aboutUsHeading {
  position: absolute;
  left: 230px;
}

.aboutUs {
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 500px;
  position: relative;
  align-items: center;
  margin-top: 50px;
}

.person {
  display: flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 700px;
  height: 220px;
  margin: 10px;
  font-size: small;
  border-radius: 10px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.imgPerson {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 25px;
  left: 10px;
}

.personText {
  width: 500px;
  left: 190px;
  top: 10px;
  position: absolute;
}

.position {
  color: #d92020;
}