@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container1 {
  display: flex;
  background-color: #d92020;
  height: 500px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.whoWeAre {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 600px;
  height: 420px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  border-radius: 10px;
}

.aboutUsHeading {
  position: absolute;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  left: 40%;
}

.aboutUs {
  margin-top: 12px;
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.container3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.person {
  display: flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 700px;
  height: 220px;
  margin: 10px;
  font-size: small;
  border-radius: 10px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.imgPerson {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 25px;
  left: 10px;
  overflow: hidden;
  object-fit: cover;
}

.personText {
  width: 500px;
  left: 190px;
  top: 10px;
  position: absolute;
}

.position {
  color: #d92020;
}

.container2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 2px;
  width: 120px;
  background-color: black;
  margin-bottom: 5px;
  margin-left: -570px;
}

.teamHeader {
  color: #d92020;
  font-size: 28px;
  margin-left: -500px;
}