.galleryImg{
    cursor: pointer;
}

.fullImgContainer{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.fullImgContainer img{
    width: 90%;
    max-width: 500px;
} 

.fullImgContainer span{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
} 

.closeButton{

}