.container{
    width: 100%;
    background-color: rgba(241, 243, 245, 1);
    height: 1000px;
}

.title {
    margin-left: 60px;
    font-size: 22px;
    color: #D92020;
    font-weight: bold;
}

.instruction {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 14px;
}

.contactBox{
    background: #fff;
    display: flex;
    width: 80.05%;
    margin-top: 30px;
    margin-left: 152px;
    margin-right: 50px;
    height: 680px;
}
.contactLeft{
    position: relative;
    width: 60%;
    padding: 40px 60px;
}
.contactRight{
    position: relative;
    width: 40%;
    padding: 40px;
    background: #D92020;
    color: white;
}
.container p{
    margin-bottom: 40px;
}
.inputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inputRow .inputGroup{
    flex-basis: 45%;
}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
.input:focus {
    border-bottom: 1.5px solid #777777;
}
.messageTextArea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.messageTextArea:focus {
    border: 1.5px solid #777777;
}

.label{
    margin-bottom: 6px;
    display: block;
}

.submitButton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; 
    background-color: #D92020;
    border: none;
    color: white; 
    padding: 5px 30px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px; 
}

@media only screen and (min-width: 1000px) {
    .submitButton {
        bottom: 40px;
    }
}

.contactRightBody {
    font-size: 16px;
}

.customHR {
    border-style: solid; /* Ensure the border style is solid */
    width: 1000px;
    border-color: white; /* Change the color of the border to white */
}

.socialsLinks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 40px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.socialsLink {
    height: 25px;
    width: 25px;
}

.socialsSpan {
    text-align: right;
    font-size: 20px;
}

.flexContainer{
display: flex;
}

.contactLeftSide {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.contactRightSide {
    display: flex;
    background-color: #D92020;
    height: 700px;
    width: 50%;
}

.captcha {
    position: absolute;
    margin-top: 10px;
    left: 50%; /* Place the item 50% from the left */
  transform: translateX(-50%);
}