.container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
}

.title {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    margin-left: 15px;
}

.authorTile {
    margin: 15px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.author {

}

.postContainer {
    
}

.post {

}

.postFooter {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
}

.date {
    color: rgb(48, 48, 48);
    font-size: 12px;
    text-align: right;
}

/* Comment Section */

.leftShift {
    /* margin-left: -45px; */
}

.commentsContainer {
    margin-left: 45px;
    padding-bottom: 10px;
}

.commentContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.postReply {
    border: 1px black solid;
    margin: 7px;
    padding: 5px;
}

.postReply:hover {
    background-color: rgb(246, 246, 246);
}

/* Input Boxes */
.commentForm {
    position: relative;
}

.authorInput {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.inputWrapper {
   padding: 10px;
   overflow: hidden;
}

.commentBox{
    max-width: 50%;
    height: auto;
}

.cmtInput {
    background: #eee;
    width: 100%;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.authorInput:hover,
.cmtInput:hover,
.cmtReplyInput:hover {
  border-color: #999;
}


.commentSubmit{
    padding: 6px 14px;
    border: none;
    background: #009cff;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;;
    float: right;
    padding-bottom: 10px ;
}

.cmtReplyInput {
    background: #eee;
    width: 100%;
    height: 49px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.comment-submit:hover {
    background: #027ecc;
}

.trashIcon {
    color: rgb(233, 38, 38);
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.trashIcon:hover {
    color:rgb(241, 80, 80);
}

.replyIcon {
    height: 15px;
    width: 15px;
    margin-left:5px;
    margin-right: 5px;
}

.replyIcon:hover {
    color: rgb(49, 48, 48);
}

@media (max-width: 900px) {
	.commentBox{
        max-width: 100%;
    }
    .cmtInput, .cmtReplyInput {
        width: 100%;
    }
}