#functionalBody {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

#toolbar {
display: flex;
justify-content: left;
align-items: center;
  background-color: black;
  padding: 20px;
  text-align: left;
}

.logo{
  margin-right: 20px; 
  font-weight: bold;
}

#section1 {
  height: 40vh;
  width: 100%;
  position: relative;
  background-image: url("people.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#bottomLeftButton {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  left: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#submitButton {
  margin-bottom: 10px;
}

#inputContainer {
  display: flex;
  flex-direction: wrap;
  align-items: flex-start;
}

#inputContainer input {
  margin-right: 20px;
  margin-bottom: 10px;
}


#section2 {
  height: 50vh;
  width: 100%;
  display: flex;
}

#imageContainer {
  width: 50%;
  overflow: hidden;
}

#imageContainer img {
  width: 100%;
  height: auto;
  display: block;
}

#textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section2 p {
  color: red;
  font-weight: bold;
  font-size: 2vw;
  margin: 0; /* Remove default margin */
}

#workgroupDescription {
  margin-top: 50px;
  color: black;
  font-weight: bold;
  font-size: 1vw;
  margin: 0; /* Remove default margin */
}

.buttonBox{
background-color: red;
color: white;
text-align: center;
font-weight: bold;
margin-bottom: 20px;
margin-top: 20px;
padding: 5px;
}

#button9 {
position: absolute;
right: 0;
background-color: red;
color: white;
padding: 5px;
  font-weight: bold;
margin-top: 0;
border-radius: 50px;
}

#section3 {
  background-color: red;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink{
  margin-right: 50px; 
  color: white;
  text-decoration: none;
}

#spotlightTitle {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#imageRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#imageRow img {
  width: 30%; /* Adjust as needed */
  height: auto;
  display: block;
}

