.linkContainer {
    background-color: rgb(221, 221, 221);
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .link {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0 10px;
  }
  
  .link:hover {
    color: rgb(75, 75, 75);
  }
  
  .slideshow {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  
  .slideContainer {
    display: flex;
    width: 100%; 
    animation: moveLeft 24s linear infinite;
  }
  
  .slide {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 300px;
    margin-right: 10vw;
    opacity: 1; 
  }
  
  .slide:nth-child(1) {
    animation-delay: 0s;
  }
  
  .slide:nth-child(2) {
    animation-delay: 4s;
  }
  
  .slide:nth-child(3) {
    animation-delay: 8s;
  }
  
  .slide:nth-child(4) {
    animation-delay: 12s;
  }
  
  .slide:nth-child(5) {
    animation-delay: 16s;
  }
  
  .slide:nth-child(6) {
    animation-delay: 20s;
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  