.title {
    font-size: 24px;
    padding-left: 20px;
}

.postsContainer {
    display: grid;
    gap: 15px;
}

.postContainer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(235, 235, 235);
    padding: 15px;
}

.author {
    font-size: 14px;
}

.post {
    font-size: 16px;
}