/* Featured post slideshow */
.featured {
    height: fit-content;
    width: 1fr;
    background-color: rgb(226, 0, 0);
    color: white;
    padding: 10px;
}

.featuredText {
    display: grid;
    font-size: max(3vw, 20px);
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshowContainer {
    display: flex;
    justify-content: space-around;
    
}

.slideshowSubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    margin: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 25% 25%;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.thirdCard {
    height: 200px;
    width: 200px;
}

.secondCard {
    height: 200px;
    width: 200px;
}

.firstCard {
    height: 250px;
    width: 250px;
}


.cardTitle {
    font-size: 12px;
    grid-column: span 2;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    height: fit-content
}

.cardImg {
    width: 100%;
    height: 100%;
    grid-column: span 2;
    display: block;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cardAuthor {
    height: fit-content;
    padding-left: 12px;
    padding-right: 3px;
    font-size: 10px;
}

.cardDate {
    height: fit-content;
    padding-left: 3px;
    padding-right: 12px;
    font-size: 10px;
}

.arrowL {
    height: 100px;
    width: 100px;
    align-self: center;
}

.arrowR {
    height: 100px;
    width: 100px;
    align-self: center;
}

/* Layout */

.container {
    display: grid;
    grid-template-columns: 65% 35%;
}

/* Posts */

.title {
    margin: 15px;
    font-weight: bold;
    font-size: 28px;
}

.postsContainer {
    gap: 15px;
    grid-row: span 2;
}

.postContainer {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 15px;
    width: 95%;
    height: auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    margin-left: 15px;
}

.postImg {
    width: 100%;
    height: 100%;
    grid-row: span 4;
    display: block;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.postAuthor {
    padding-left: 15px;
    font-size: 12px;
}

.postTitle {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
}

.postDate {
    font-size: 12px;
    padding-left: 15px;
    font-size: 15px;
}

.readMore {
    position: absolute;
    right: 35px;
    bottom: 15px;
    background-color: rgb(226, 0, 0);
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
    height: fit-content;
}

.readMore:hover {
    background-color: rgb(183, 0, 0);
}

/* Searchbar */

.searchContainer {
    display: flex;
    align-items: center;
    background-color: rgb(226, 0, 0);
    border-radius: 10px;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    height: fit-content;
}

.searchbar {
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    height: 40px;
    width: 93%;
    resize: none;
    margin: 10px;
    overflow: hidden;
}

.searchbar:focus {
    border: 2px solid rgb(226, 0, 0); /* Example custom border color */
    box-shadow: 0 0 5px rgba(226, 0, 0, 0.5); /* Example custom box-shadow */
}

.searchBtn {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 7px;
    outline: none;
}

.searchBtn:hover {
    background-color: rgb(183, 0, 0);
}

/* Topics */

.topicContainer {
    background-color: rgb(226, 0, 0);
    border-radius: 15px;
    color: white;
    margin: 15px;
    padding: 10px;
    height: fit-content;
}

.topicsTitle {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
}

.topic {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
}